<tk-form-panel>
    <tk-form-panel-content [titleAsideEnabled]="true"
                           [collapsible]="true"
                           [collapsed]="false">
        <ng-container contentTitle>
            <tk-button-simple (click)="openRouteModal()">
                {{getTitle()}}
            </tk-button-simple>
        </ng-container>

        <ng-container contentTitleAside>
            <tk-action-list-item>
                <tk-button-simple [isToolbarButton]="true"
                                  (click)="toggleFilter()">
                    <tk-icon [icon]="icons.SEARCH"></tk-icon>
                    Filtreeri
                </tk-button-simple>
            </tk-action-list-item>

            <tk-action-list-item>
                <tk-button-simple [isToolbarButton]="true"
                                  (click)="createMock()">
                    <tk-icon [icon]="icons.ADD"></tk-icon>
                    Lisa päring
                </tk-button-simple>
            </tk-action-list-item>
        </ng-container>

        <m-mock-list [route]="route"
                     [mocks]="mocks"
                     [showFilter]="showFilter">
        </m-mock-list>
    </tk-form-panel-content>
</tk-form-panel>

